# Dependencies
node_modules

# Secrets
.env
.env.local
.env.bscTest

# Build
dist
tsconfig.tsbuildinfo

# Misc
yarn-error.log
postgres/

# IDE
*.iml
.idea
.yarnclean

#Kubernetes
deployment.json
deployment.yml
